{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmoConnect - Annonces Immobilières</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'hzone/css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <a href="{% url 'home' %}" class="logo">ImmoConnect</a>
            <div class="nav-links">
                <a href="{% url 'home' %}">Actualités</a>
                <a href="{% url 'listings' %}">Publier une annonce</a>
                <a href="{% url 'favoris' %}">Mes favoris</a>
                <a href="">Notifications</a>
                <a href="">
                    <img src="{{request.user.profil_photo.url}}" alt="">

                </a>
                <a href="">
                    {{request.user.username}}
                </a>
                
            </div>
            <button class="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static 'hzone_app/js/navbar.js' %}"></script>
    <script src="{% static 'hzone_app/js/accueil.js' %}"></script>
</body>
</html>
