{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmoConnect - Annonces Immobilières</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'hzone_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <a href="{% url 'home' %}" class="logo">ImmoConnect</a>
            <div class="nav-links">
                <a href="{% url 'home' %}">Actualités</a>
                <a href="{% url 'listings' %}">Annonces</a>
                <a href="{% url 'list_discussions' %}">Discussions</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    {% if request.user.profile_photo %}
                        <button type="submit" style="border: none; background-color: transparent; cursor: pointer;"><img src="{{ request.user.profile_photo.url }}" alt="Photo de profil" class="profile-photo"></button>
                    {% else %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    {% endif %}
                </form>
            
                
            </div>
            <button class="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <script src="{% static 'hzone_app/js/navbar.js' %}"></script>
    <script src="{% static 'hzone_app/js/accueil.js' %}"></script>
</body>
</html>
