{% extends 'hzone/landing_base.html' %} {% load static %} {% block content %}

<div id="diapo" class="slider-container">
  <!-- Le diaporama sera généré par JavaScript -->
</div>

<main class="main-content">
  <!-- Section Achat -->
  <section class="feature-section">
      <div class="feature-header">
          <h2>Achat</h2>
      </div>
      <div class="feature-content">
          <div class="feature-text">
              <h3>Vous cherchez la maison parfaite ?</h3>
              <p>Notre service de vente immobilière est là pour vous offrir une expérience d'achat fluide et agréable. 
                  Un catalogue exquis, explorez une large sélection de maisons élégantes et confortables, adaptées à tous les budgets.
                  Transformez votre rêve en réalité. Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons
                  vous aider à trouver la maison idéale.</p>
              <a href="{% url 'connexion' %}" class="btn btn-primary">Acheter une maison</a>
          </div>
          <div class="feature-image">
              <img src="{% static 'hzone/images/achat.jpg' %}" alt="Achat immobilier">
          </div>
      </div>
  </section>

  <!-- Section Vente -->
  <section class="feature-section">
      <div class="feature-header">
          <h2>Vente</h2>
      </div>
      <div class="feature-content reverse">
          <div class="feature-text">
              <h3>Besoin de vendre votre maison rapidement et au meilleur prix ?</h3>
              <p>Nous mettons tout en œuvre pour que votre maison se démarque sur le marché.
              Ne laissez pas votre maison attendre un acheteur ! Contactez-nous dès aujourd'hui et découvrez comment 
                  nous pouvons transformer votre rêve en réalité.</p>
              <a href="{% url 'connexion' %}" class="btn btn-primary">Vendre ma maison</a>
              
          </div>
          <div class="feature-image">
              <img src="{% static 'hzone/images/vente.jpg' %}" alt="Vente immobilier">
          </div>
          
      </div>
  </section>

  <!-- Section Location -->
  <section class="feature-section">
      <div class="feature-header">
          <h2>Location</h2>
      </div>
      <div class="property-types">
          <div class="property-type">
              <img src="{% static 'hzone/images/hotel.jpg' %}" alt="Chambre">
              <h4>Chambre</h4>
          </div>
          <div class="property-type">
              <img src="{% static 'hzone/images/apparte.jpg' %}" alt="Appartement">
              <h4>Appartement</h4>
          </div>
          <div class="property-type">
              <img src="{% static 'hzone/images/maison vacance.jpg' %}" alt="Maison">
              <h4>Maison</h4>
          </div>
      </div>
      <div class="feature-text full-width">
          <h3>Que vous planifiez un séjour de courte, moyenne ou longue durée</h3>
          <p>nous avons exactement ce qu'il vous faut. 
          Explorez nos options variées pour trouver l'hébergement parfait qui répondra à tous vos besoins :</p>
          
          <ul class="benefits-list">
              <li><strong>Hôtels</strong> : Profitez du confort et des commodités de nos hôtels de qualité supérieure. Idéal pour des 
                  séjours courts et des vacances mémorables.</li>
              <li><strong>Maisons</strong> : Trouvez la maison de vos rêves pour des séjours plus longs avec tout l'espace et l'intimité 
                  dont vous avez besoin. Parfait pour les familles ou les grands groupes.</li>
              <li><strong>Appartements</strong> : Optez pour nos appartements modernes et entièrement équipés, adaptés pour des séjours 
                  de toute durée, avec la flexibilité et le confort d'un chez-soi.</li>
          </ul>
          <a href="{% url 'connexion' %}" class="btn btn-primary">Trouver un bien à louer</a>
      </div>
  </section>
</main>

<script>
  // On transmet les URLs d'images à JavaScript via des variables globales
  window.staticImages = {
      diapo1: "{% static 'hzone/images/bg2.jpg' %}",
      diapo2: "{% static 'hzone/images/maison.jpg' %}",
      diapo3: "{% static 'hzone/images/apparte.jpg' %}",
  };
</script>


<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
></script>

{% endblock %}
