{% extends 'hzone/landing_base.html' %} {% block content %}
<main class="main-content auth-container">
  <div class="auth-card">
      <div class="auth-header">
          <h2>Inscription</h2>
          <p>Créez votre compte pour accéder à toutes nos fonctionnalités</p>
      </div>
      <form class="auth-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-row">
              <div class="form-group">
                  <label for="inputFirstname">Prénom</label>
                  <input type="text" id="inputFirstname" name="firstname" class="form-input" placeholder="Votre prénom" required>
              </div>
              <div class="form-group">
                  <label for="inputName">Nom</label>
                  <input type="text" id="inputName" name="lastname" class="form-input" placeholder="Votre nom" required>
              </div>
          </div>
          <div class="form-group">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" id="inputUsername" name="username" class="form-input" placeholder="Votre nom d'utilisateur" required>
        </div>
          <div class="form-group">
              <label for="photoProfil">Photo de profil</label>
              <input type="file" id="photoProfil" name="profile_photo" class="form-input" accept="image/*">
          </div>
          <div class="form-group">
              <label for="inputPhone">Téléphone</label>
              <input type="tel" id="inputPhone" name="phone_number" class="form-input" placeholder="Votre numéro de téléphone" required>
          </div>
          <div class="form-group">
              <label for="inputEmail">Adresse e-mail</label>
              <input type="email" id="inputEmail" name="email"  class="form-input" placeholder="Votre email" required>
          </div>
          <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" id="password" name="password" class="form-input" placeholder="Votre mot de passe" required>
          </div>
          <div class="form-group">
              <label for="confirmPassword">Confirmation du mot de passe</label>
              <input type="password" id="confirmPassword" name="repeatpassword" class="form-input" placeholder="Répétez votre mot de passe" required>
          </div>
          <button type="submit" class="btn btn-primary login-btn">S'inscrire</button>
          <div class="auth-links">
              <a href="{% url 'connexion' %}" class="create-account">J'ai déjà un compte</a>
          </div>
          {% if messages %}
          <div>
            {% for message in messages %}
              <div class="alert {{ message.tags }} text-red text-center" style="color: red; text-align: center;">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </form>
  </div>
</main>
</div>
{% endblock %}
