{% extends 'hzone/landing_base.html' %} 
{% block content %}
<main class="main-content auth-container">
  <div class="auth-card">
      <div class="auth-header">
          <h2>Réinitialisation du mot de passe</h2>
          <p>Nous vous enverrons un lien pour réinitialiser votre mot de passe</p>
      </div>
      <form class="auth-form" method="post">
        {% csrf_token %}
          <div class="form-group">
              <label for="inputEmail">Adresse e-mail</label>
              <input type="email" id="inputEmail" name="email" class="form-input" placeholder="Renseignez l'email avec lequel vous avez créé le compte" required>
          </div>
          <button type="submit" class="btn btn-primary login-btn">Envoyer le lien</button>
          <div class="auth-links">
              <a href="{% url 'connexion' %}" class="create-account">Retour à la connexion</a>
          </div>
          {% if messages %}
          <div>
            {% for message in messages %}
              <div class="alert {{ message.tags }} text-red text-center" style="color: red; text-align: center;">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </form>
  </div>
</main>
{% endblock %}
