{% extends 'hzone_app/landing_base.html' %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center container-fluid rounded connexionContainer"
  style="background-image: url(css/images/bg2.jpg)"
>
  <form action="submit" class="form-group border rounded bg-light w-100">
    <input
      type="email"
      id="inputEmail"
      placeholder="Votre email"
      class="rounded form-control mb-3"
      required
    />
    <input
      type="password"
      id="password"
      placeholder="Votre mot de passe"
      class="rounded form-control"
      required
    />
    <button class="btn btn-primary mb-3 mt-3">Se connecter</button>
    <a
      href="{% url 'password-forgot' %}"
      class="text-danger text-decoration-none"
      >mot de passe oublié</a
    >
  </form>
</div>
{% endblock %}
