{% extends 'hzone/app_base.html' %}
{% load static %}
{% block content %} 
    <section class="search-section">
        <div class="search-container">
            <form method="GET" action="{% url 'home' %}" class="search-form">
                
                    <div class="search-inputs">
                        <select class="search-input" name="property_type">
                            <option value="">Filtrer par type de bien...</option>
                            <option value="maison">Maison</option>
                            <option value="appartement">Appartement</option>
                            <option value="chambre">Chambre</option>
                        </select>
                        <input type="text" name="location" class="search-input" placeholder="Rechercher par quartier...">
                        <button type="submit" class="search-button">Rechercher</button>
                    </div>
                    
            </form>
        </div>
    </section>

    <main class="listings">
       {% for listing in listings %}
        <div class="listing-card">
          {% if listing.images.first %}
          <!-- Débogage de l'URL d'image -->
              <img src="{{ listing.images.first.image.url }}" alt="{{ listing.title }}" class="listing-image">
          {% else %}
              <img src="{% static 'hzone_app/images/default.png' %}" alt="{{ listing.title }}" class="listing-image">
          {% endif %}
          <div class="listing-content">
              <h2 class="listing-title">{{ listing.title|upper }}</h2>
              <p class="listing-description">{{ listing.description }}</p>
              <p class="listing-location">{{ listing.city }}/{{ listing.district }}/{{ listing.street }}/{{ listing.street_number }}</p>
              <div class="listing-icons">
                  <i class="fas fa-heart favorite {% if listing in user.favorites.all %}active{% endif %}"></i>
                  <i class="fas fa-phone"></i>
                  <a href="{% url 'listing_detail' listing.id %}">
                    <i class="fas fa-info-circle"></i>
                </a>
              </div>
              <p class="listing-price">{{ listing.price }} €</p>
              <div class="listing-actions">
                  <button class="action-button primary-button">Faire une offre</button>
                  <button class="action-button secondary-button">Détails...</button>
              </div>
          </div>
        </div>
       {% endfor %} 
    </main>

    
{% endblock %}