{% extends 'hzone/app_base.html' %}
{% block content %} 
    <section class="search-section">
        <div class="search-container">
            <form>
                {% csrf_token %}
                <div class="search-form">
                    <input type="text" class="search-input" placeholder="Filtrer par type de bien...">
                    <input type="text" class="search-input" placeholder="Rechercher par quartier...">
                    <button class="search-button">Rechercher</button>
                </div>
            </form>
        </div>
    </section>

    <main class="listings">
       {% for listing in listings %}
        <div class="listing-card">
          <img src="{{ listing.images.first.url }}" alt="{{ listing.title }}" class="listing-image">
          <div class="listing-content">
              <h2 class="listing-title">{{ listing.title.uppercase }}</h2>
              <p class="listing-description">{{ listing.description }}</p>
              <p class="listing-location">{{ listing.city }}/{{ listing.district }}/{{ listing.street }}/{{ listing.street_number }}</p>
              <div class="listing-icons">
                  <i class="fas fa-heart favorite ${isFavorite ? 'active' : ''}"></i>
                  <i class="fas fa-phone"></i>
                  <i class="fas fa-info-circle"></i>
              </div>
              <p class="listing-price">{{ listing.price }} $</p>
              <div class="listing-actions">
                  <button class="action-button primary-button">Faire une offre</button>
                  <button class="action-button secondary-button">Détails...</button>
              </div>
          </div>
        </div>
       {% endfor %} 
    </main>

    
{% endblock %}