{% extends 'hzone_app/landing_base.html' %} {% block content%}
<div
  class="background-image d-flex justify-content-center align-items-center container-fluid rounded"
>
  <form action="submit" class="form-group border rounded bg-light w-100">
    <input
      type="email"
      id="inputEmail"
      placeholder="Renseigner l'email avec lequel vous avez créer le compte"
      class="rounded form-control mb-3"
      required
    />
    <button class="btn btn-primary mb-3 mt-3">Envoyer</button>
  </form>
</div>
{% endblock %}
